* {
  box-sizing: border-box;  
}

html, body {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top{
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  font-family: 'Changa', sans-serif;
  font-weight: bold;
  padding: 40px;
}

h1{
  
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5vmin;
    line-height: 1.1;
}

.calculator {
  text-align: center;
  font-family: 'Changa', sans-serif;
  width: 300px;
  border-radius: 1px;
  background: rgb(255, 3, 3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.calculator #display {
  font-family: 'Changa', sans-serif;
  font-weight: bold;
  font-size: 25px;
  height: 40px;
  text-align: right;
  padding: 8px 16px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 2px 2px 0 0;
  border: 3px solid rgb(0, 145, 255);
}

.calculator table {
  background: #bbb1f2;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.calculator table td {
  padding: 16px;
  cursor: pointer;
}


.deletor{
  font-weight: bold;
  border: 5px solid rgb(0, 0, 0);
  background: #e1e1e1;
  border-radius: 10px;
  color: rgba(255, 4, 4, 0.935);
}

.deletor:hover{
  background-color:rgb(228, 140, 140);
} 

.num{
  font-weight: bold;
  font-family: 'Changa', sans-serif;
  border: 3px solid black;
  background: #646456;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.num:hover{
  background-color:rgb(56, 40, 209);
} 

.operator{
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  background: #80e0dd;
  color: rgb(0, 0, 0);
}

.operator:hover{
  background-color:rgb(240, 143, 82);
} 